extends layout

block content
    h1= title
    if user
        a(href='https://demo.fusionauth.io/oauth2/logout?client_id=353976a3-fd92-4f65-9e83-e12b80f876b2') Logout
        br
        p Hello #{user.firstName}. Welcome to #{title}
    else
        a(href='https://demo.fusionauth.io/oauth2/authorize?client_id=' + clientId + '&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth-redirect&scope=offline_access&state=' + stateValue + '&code_challenge=' + challenge + '&code_challenge_method=S256') Login
        br
        p Welcome to #{title}
    a(href='/product?name=stapler&id=123') Stapler
    br
    a(href='/product?name=printer&id=456') Printer
    br
    a(href='/product?name=chair&id=678') Chair
